.column {
  padding: 5px;
  overflow: hidden;
  float: left;
}

.image-credit {
  margin-right: 5px;
  text-align: center;
}

.shortterm-container {
  padding: 5px 5px 5px 5px;
}

.inner-shortterm-container {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}
