body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.page-container {
    top: 0px;
}
#edward-logo {
    font-size: 25px;
}
#navbar {
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #000000;
    border-bottom: 1px solid #000000;
    margin-bottom:0;
}

#navbar a {
    color:#000000;
}

#collapse-navbar-button {
    border: 1px solid #000000;

}

.icon-bar {
    border: 1px solid #000000;
}

.below-nav-container {
    
}

li {
    text-align:center;
}

/*                                      */

#lang-label {
    font-size: 10px;
    font-weight: bold;
}
#lang-label-container {
    z-index: 1030;
    top: 0;
    margin-top: 6px;
    position: fixed;
    margin-left: 130px;
    text-align: center;
    width: 50px;
}

.switch {
    border-radius: 20px;
    border: 1px solid #000000;
    position: fixed;
    top: 0;
    display: inline-block;
    width: 60px;
    /*60px*/
    height: 26px;
    z-index: 1030;
    margin-left: 125px;
    margin-top: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(white, red);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background: linear-gradient(190deg, red, blue);
    /*#2196F3*/
}

input:focus + .slider {
    box-shadow: 0 0 1px linear-gradient(to right, rgb(255, 0, 0), rgb(25, 0, 255));
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
    /*26px*/
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/*                                      */

#reference {
    font-size: 10px;
    color: #707070;
    margin: 0 0 0 0;
}

#reference_total {
    font-size: 10px;
    color: #707070;
    margin: 0 0 0 0;
}

.footer-container {
    overflow: hidden;
    background-color: #000000;
    /*margin: 0 auto;*/
    padding-bottom: 10px;

}


.mid-options {
    text-align: center;
    margin: 5px 0px 5px 0px;
    color:#ffffff;
}


.bottom-options {
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.bottom-options a {
    color: #ffffff;
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.image-credit {
    margin-right: 5px;
    text-align: center;
}

.video-credit {
    margin-right: 5px;
    text-align: center;
}